<div class="block_create">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @include('parts.cabinet.menu')
                <div class="information-create">
                    <div class="information-create-block">
                        <h1 class="create-title">Видео</h1>
                        <a href="" target="_blank" class="btn-views">Посмотреть</a>
                    </div>
                    <div class="panel-create">
                        <form enctype="multipart/form-data" action="" autocomplete="off" method="post">
                            <div class="block-panel">
                                <div class="block-selection">
                                    <div class="block-panel-sub">
                                        <p class="create-text-min">Добавляйте свои видео-курсы вставля ссылки видео из youtube. Нажимайте кнопку добавить видео, чтобы появилось поля для вставки ссылки.</p>
                                        <button class="btn-add-video" type="button">Добавить видео</button>
                                    </div>
                                </div>
                            </div>
                            <div class="block-publication">
                                <button type="submit" class="btn-public">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.btn-add-video').click(function() {
        $(this).before(`<div class="block-variants"><input class="video-url" type="text" name="video_url" value="" placeholder="Ссылка на видео"></div>`);
    });
</script>