<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Личный кабинет - создать организатора</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<link rel="canonical" href="">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="website">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=cyrillic">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<header class="header_menu">
			<div class="container">
				<div class="row header">
					<a class="logo" href="/">
						<img src="images/logo-test.svg" alt="" class="img-fluid">
						<span>gurufor.com</span>
					</a>
					<div class="form_search_new">
						<form action="" method="get">
							<input name="s" placeholder="Введите запрос..." type="search">
							<button type="submit"><img src="images/icon_search.png" alt="" class="img-fluid"></button>
						</form>
					</div>
					<div class="nav">
						<ul>
							<li>
								<a href="#">Популярное</a>
								<div class="megamenu">
									<ul class="menu__sub">
										<li class="menu__sub_title">
											<span>Страны</span>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
									</ul>
									<ul class="menu__sub">
										<li class="menu__sub_title">
											<span>Категории</span>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
									</ul>
								</div>
							</li>
							<li><a href="#">Добавить объявление</a></li>
							<li><a href="#">Вход</a> <span class="separator">/</span> <a href="#">Регистрация</a></li>
							<li class="login-list">
								<span class="login-link">И</span>
								<ul class="login-sub">
									<li>
										<a href="index.html">Личный кабинет</a>
									</li>
									<li>
										<a href="#">Выйти</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="mobile_menu"></div>
				</div>
			</div>
		</header>
		<main>
			<div class="block_create">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="information-create">
								<h1 class="create-title">Создать организатора</h1>
								<div class="panel-create">
									<form action="" autocomplete="off">
										<div class="block-panel">
											<label for="name" class="create-subtitle">Организатор (название организации или имя и фамилия):</label>
											<input id="name" type="text" name="name" value="" required>
										</div>
										<div class="block-panel">
											<label for="name-desk" class="create-subtitle">Информация об организаторе:</label>
											<div class="block-panel-sub">
												<p>Опишите в форме ниже подробную информацию об организаторе</p>
												<textarea id="name-desk" name="name-desk"></textarea>
											</div>
										</div>
										<div class="block-panel">
											<label for="photogallery" class="create-subtitle">Фотогалерея:</label>
											<div class="block-panel-sub">
												<span class="btn_upload">
										        	<input id="photogallery" type="file" name="photogallery" multiple class="photogallery" >
										        	Загрузить фото
										      	</span>
										      	<div class="photogallery-container"></div>
										      	<!-- Пример как будет выглядеть в редактировании -->
										      	<span class="photogallery-demo"><img class="photogallery-elem" src="https://www.tvr.by/upload/iblock/42d/42d1898756e574fcaf9b7519c354ce9c.jpg" title="undefined"><span class="removebtn"><i class="fa fa-times" aria-hidden="true"></i></span></span>
										      	<span class="photogallery-demo"><img class="photogallery-elem" src="https://cdn24.img.ria.ru/images/151546/28/1515462835_0:0:1036:587_600x0_80_0_0_a75f922e8b052d966122e1c9dc40feb4.jpg" title="undefined"><span class="removebtn"><i class="fa fa-times" aria-hidden="true"></i></span></span>
										      	<span class="photogallery-demo"><img class="photogallery-elem" src="https://avatars.mds.yandex.net/get-vh/1528766/17938558859946010694-8Om2usjIWnMGFo-u6w3VfA-1551431625/936x524" title="undefined"><span class="removebtn"><i class="fa fa-times" aria-hidden="true"></i></span></span>
												<p>Добавьте фото вашей организации, а также фото, которые посчитаете интересными для пользователей</span></p>
											</div>
										</div>
										<div class="block-panel">
											<label for="adress" class="create-subtitle">Месторасположение организатора:</label>
											<input id="address" type="text" name="address">
											<input id="street" type="hidden"name="street">
											<input id="house" type="hidden" name="house">
											<input id="region" type="hidden"name="region">
											<input id="city" type="hidden" name="city">
											<input id="country" type="hidden" name="country">
									        <input id="latitude" type="hidden" name="latitude">
									        <input id="longitude" type="hidden" name="longitude">
									        <div id="map"></div>
										</div>
										<div class="block-panel">
											<label for="video-url" class="create-subtitle">Видео YouTube:</label>
											<input id="video-url" type="text" name="video-url" value="">
										</div>
										<div class="block-panel">
											<label for="tags" class="create-subtitle">Теги (максимум 5):</label>
											<select class="chosen-select" id="tags" name="tags" multiple="multiple">
											    <option value="тег1">тег1</option>
											    <option value="тег2">тег2</option>
											</select>
										</div>
										<div class="block-publication">
											<button type="submit" class="btn-public">Сохранить</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<p class="title-footer">Навигация:</p>
						<ul class="footer_menu">
							<li><a href="/">Главная</a></li>
							<li><a href="journal.html">Журнал</a></li>
							<li><a href="about.html">О нас</a></li>
							<li><a href="payment.html">Оплата и отмена</a></li>
							<li><a href="terms.html">Пользовательское соглашение</a></li>
							<li><a href="privacy-policy.html">Политика конфиденциальности</a></li>
							<li><a href="publication-policy.html">Политика публикации</a></li>
							<li><a href="#">Благотворительность</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<p class="title-footer">Популярные мероприятия:</p>
						<ul class="footer_menu">
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<p class="title-footer">Популярные Стран:</p>
						<ul class="footer_menu">
							<li><a href="#">Мексика</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="row">
							<div class="col-lg-12 col-md-4 col-sm-12 menu_dop">
								<p class="title-footer">Для организаторов:</p>
								<ul class="footer_menu">
									<li><a href="add_retreat.html">Добавить объявление (бесплатно)</a></li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-4 col-sm-12 menu_dop">
								<p class="title-footer">Присоединяйтесь к нам в соц.сетях:</p>
								<ul class="social">
									<li><a href="#" title="facebook"></a></li>
									<li><a href="#" title="vk"></a></li>
									<li><a href="#" title="instagram"></a></li>
									<li><a href="#"	title="telegram"></a></li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-4 col-sm-12 menu_dop">
								<p class="title-footer">Контакты:</p>
								<ul>
									<li><a href="help.html" class="help_link">Помощь и поддержка</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="copyright">© 2020 Новый сайт</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="fancybox-content" id="form-reviews" style="display: none;">
	    <div class="form-title">Оставить отзыв</div>
	    <form action="" autocomplete="off">
	        <div class="form-reviews-block">
	        	<span>Оценка:</span>
	        	<div class="star-rating">
			      <div class="star-rating__wrap">
			        <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
			        <label class="star-rating__ico fa fa-star-o" for="star-rating-5" title="5 out of 5 stars"></label>
			        <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
			        <label class="star-rating__ico fa fa-star-o" for="star-rating-4" title="4 out of 5 stars"></label>
			        <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
			        <label class="star-rating__ico fa fa-star-o" for="star-rating-3" title="3 out of 5 stars"></label>
			        <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
			        <label class="star-rating__ico fa fa-star-o" for="star-rating-2" title="2 out of 5 stars"></label>
			        <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
			        <label class="star-rating__ico fa fa-star-o" for="star-rating-1" title="1 out of 5 stars"></label>
			      </div>
			    </div>
	        </div>
	        <div class="form-reviews-block"><span>Заголовок отзыва:</span><input type="text"/></div>
	        <div class="form-reviews-block"><span>Текст отзыва:</span><textarea name="" id=""></textarea></div>
	        <div class="form-reviews-block"><button type="submit">Добавить отзыв</button></div>
	    </form>
	</div>
	<div class="fancybox-content" id="form-autor" style="display: none;">
		<div class="form-autor-content">
			<div class="form-autor-block">
				<div class="form-title">Связаться с автором мероприятия</div>
				<form action="" autocomplete="off">
			        <div class="form-reviews-block"><span>Ваше имя*</span><input type="text" name="name" required/></div>
			        <div class="form-reviews-block"><span>Email*</span><input type="email" name="email" required/></div>
			        <div class="form-reviews-block"><span>Телефон*</span><input type="tel" name="tel" required/></div>
			        <div class="form-reviews-block"><span>Ваше сообщение:</span><textarea type="text" name="message" required></textarea></div>
			        <div class="form-reviews-block"><button type="submit">Отправить сообщение</button></div>
			    </form>
			</div>
			<div class="form-autor-block">
				<div class="form-autor_photo">
					<img src="images/slider_img_autor.jpg" alt="" class="img-fluid">
					<p class="form-autor_name">Кубик Иван</p>
					<div class="country-autor">
						<i class="fa fa-home"></i>
						<span>Россия, Москва</span>
						<a href="#" class="link-location"><i class="fa fa-location-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile_menu_container">
	    <div class="mobile_menu_content">
	        <ul>
	            <li class="mobile_menu_title"><span class="mobile_menu_close"></span></li>
	            <li><a class="parent" href="/">Главная</a></li>
	            <li><a class="parent" href="/">Каталог мероприятий</a></li>
	            <li><a class="parent" href="/">О нас</a></li>
	            <hr>
	            <li><a class="parent" href="/">Добавить мероприятие</a></li>
	            <li><a class="parent" href="/">Регистрация</a></li>
	            <li><a class="parent" href="/">Вход</a></li>
	            <hr>
	        </ul>
	    </div>
	</div>
	<div class="mobile_menu_overlay"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="js/readmore.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="js/main.js"></script>
<script>
	$(function() {
    var imagesPreview = function(input, placeToInsertImagePreview) {

        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img class="img-fluid">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };
});
</script>
<script>
	$(".chosen-select").select2({
	  tags: true
	});
</script>
<script>
	let autocomplete,  marker, infowindow, map;
	function initMap() {
		
		/*map = new google.maps.Map(document.getElementById('map'), {
			center: {lat:-33.56, lng:151.21},
			zoom: 13
		});
		
		infowindow = new google.maps.InfoWindow();
		marker = new google.maps.Marker({
			map:map
		});*/
		
		let inputs = document.querySelector('#address');
		autocomplete = new google.maps.places.Autocomplete(inputs);
		
		google.maps.event.addListener(autocomplete,'place_changed',function() {
			
			/*marker.setVisible(false);
			infowindow.close();*/
			
			let place = autocomplete.getPlace();
			if(!place.geometry) {
				alert('Error');
			}
			/*if(place.geometry.viewport) {
				map.fitBounds(place.geometry.viewport);
			}
			else {
				alert('Error');
			}*/
			
			/*marker.setIcon({
				url:place.icon,
				scaledSize: new google.maps.Size(35,35)
			});
			
			marker.setPosition(place.geometry.location);
			marker.setVisible(true);*/
			
			let address = '';
			if(place.address_components) {
				address = [
		              (place.address_components[0] && place.address_components[0].short_name || ''),
		              (place.address_components[1] && place.address_components[1].short_name || ''),
		              (place.address_components[2] && place.address_components[2].short_name || '')
		            ].join(' ');
			}
			
			//infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
			//infowindow.open(map, marker);
			
			document.getElementById('latitude').value = place.geometry.location.lat();
			document.getElementById('longitude').value= place.geometry.location.lng();
			
			let city = '';
            let street = '';
            let house = '';
            let region = '';
            let country = '';
            
            let tmp = '';
            place.address_components.forEach(function(item) {
            	tmp = item.long_name;
            	if(item.types) {
            		item.types.forEach(function(t) {
            			
            			switch(t) {
            				case 'street_number':
            					house = tmp;
            				break;
            				case 'route' :
								street = tmp;
								break;
								case 'administrative_area_level_1' :
								case 'administrative_area_level_2' :
								region = tmp;
								break;
								case 'country' :
								country = tmp;
								break;
								case 'postal_town' :
								case 'locality' :
								city = tmp;
								break;
            			}
            			
            		});
            	}
            });
            document.getElementById('city').value = city;
        	document.getElementById('street').value = street;
        	document.getElementById('house').value = house;
        	document.getElementById('region').value = region;
        	document.getElementById('country').value = country;
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrIHJDN5FNpn8bC3CfiIzDR8uA-0tOD4Y&libraries=places&callback=initMap"></script>
<script>
	$(document).ready(function() {
	  if (window.File && window.FileList && window.FileReader) {
	    $("#photogallery").on("change", function(e) {
	      let files = e.target.files,
	        filesLength = files.length;
	      for (let i = 0; i < filesLength; i++) {
	        let f = files[i]
	        let fileReader = new FileReader();
	        fileReader.onload = (function(e) {
	          let file = e.target;
	          $("<span class=\"photogallery-demo\">" +
	            "<img class=\"photogallery-elem\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
	            "<span class=\"removebtn\"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></span>" +
	            "</span>").insertAfter(".photogallery-container");
	          $(".removebtn").click(function(){
	            $(this).parent(".photogallery-demo").remove();
	          });    
	        });
	        fileReader.readAsDataURL(f);
	      }
	    });
	  } else {
	    alert("Ваш браузер устарел и не поддерживает загрузку!")
	  }
	});
</script>
<script>
    $(".removebtn").click(function(){
        $(this).parent(".photogallery-demo").remove();
      });
</script>
<script>
	$('.login-list').click( function(){
	  $('.login-sub').toggle();
	});
	$(document).on('click', function(e) {
	  if (!$(e.target).closest(".login-list").length) {
	    $('.login-sub').hide();
	  }
	  e.stopPropagation();
	});
</script>
</body>
</html>