<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Регистрация личного кабинета</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<link rel="canonical" href="">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="website">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=cyrillic">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="wrapper">
		<header class="header_menu">
			<div class="container">
				<div class="row header">
					<a class="logo" href="/">
						<img src="images/logo-test.svg" alt="" class="img-fluid">
						<span>gurufor.com</span>
					</a>
					<div class="form_search_new">
						<form action="" method="get">
							<input name="s" placeholder="Введите запрос..." type="search">
							<button type="submit"><img src="images/icon_search.png" alt="" class="img-fluid"></button>
						</form>
					</div>
					<div class="nav">
						<ul>
							<li>
								<a href="#">Популярное</a>
								<div class="megamenu">
									<ul class="menu__sub">
										<li class="menu__sub_title">
											<span>Страны</span>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
										<li>
											<a href="#">Мексика</a>
										</li>
									</ul>
									<ul class="menu__sub">
										<li class="menu__sub_title">
											<span>Категории</span>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
										<li>
											<a href="#">Ссылка</a>
										</li>
									</ul>
								</div>
							</li>
							<li><a href="#">Добавить объявление</a></li>
							<li><a href="#">Вход</a> <span class="separator">/</span> <a href="#">Регистрация</a></li>
						</ul>
					</div>
					<div class="mobile_menu"></div>
				</div>
			</div>
		</header>
		<main>
			<div class="block_login">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Регистрация личного кабинета</h1>
						</div>
						<div class="col-md-12 form_signup">
							<p>Lorem ipsum dolor sit amet.</p>
							<form class="signup-form" action="" autocomplete="off">
								<label for="name">
									Ваше Имя
									<input type="text" id="name" name="name" value="" required="">
								</label>
								<label for="email">
									Ваш Email
									<input type="email" id="email" name="email" value="" required="">
								</label>
								<label for="password">
									Пароль
									<input type="password" id="password" name="password" required="">
								</label>
								<label for="password-confirm">Повторите пароль
                    				<input type="password" name="password_confirm" id="password-confirm" required="">
                    			</label>
		                        <button type="submit" id="signup-button">Зарегистрировать</button>
							</form>
							<div class="signup_politics">
								<p>Регистрируясь, вы принимаете условия <a href="#">политики конфиденциальности</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<p class="title-footer">Навигация:</p>
						<ul class="footer_menu">
							<li><a href="/">Главная</a></li>
							<li><a href="journal.html">Журнал</a></li>
							<li><a href="about.html">О нас</a></li>
							<li><a href="payment.html">Оплата и отмена</a></li>
							<li><a href="terms.html">Пользовательское соглашение</a></li>
							<li><a href="privacy-policy.html">Политика конфиденциальности</a></li>
							<li><a href="publication-policy.html">Политика публикации</a></li>
							<li><a href="#">Благотворительность</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<p class="title-footer">Популярные мероприятия:</p>
						<ul class="footer_menu">
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<p class="title-footer">Популярные Стран:</p>
						<ul class="footer_menu">
							<li><a href="#">Мексика</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
							<li><a href="#">Ссылка</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-6">
						<div class="row">
							<div class="col-lg-12 col-md-4 col-sm-12 menu_dop">
								<p class="title-footer">Для организаторов:</p>
								<ul class="footer_menu">
									<li><a href="add_retreat.html">Добавить объявление (бесплатно)</a></li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-4 col-sm-12 menu_dop">
								<p class="title-footer">Присоединяйтесь к нам в соц.сетях:</p>
								<ul class="social">
									<li><a href="#" title="facebook"></a></li>
									<li><a href="#" title="vk"></a></li>
									<li><a href="#" title="instagram"></a></li>
									<li><a href="#"	title="telegram"></a></li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-4 col-sm-12 menu_dop">
								<p class="title-footer">Контакты:</p>
								<ul>
									<li><a href="help.html" class="help_link">Помощь и поддержка</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="copyright">© 2020 Новый сайт</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="mobile_menu_container">
	    <div class="mobile_menu_content">
	        <ul>
	            <li class="mobile_menu_title"><span class="mobile_menu_close"></span></li>
	            <li><a class="parent" href="/">Главная</a></li>
	            <li><a class="parent" href="/">Каталог мероприятий</a></li>
	            <li><a class="parent" href="/">О нас</a></li>
	            <hr>
	            <li><a class="parent" href="/">Добавить мероприятие</a></li>
	            <li><a class="parent" href="/">Регистрация</a></li>
	            <li><a class="parent" href="/">Вход</a></li>
	            <hr>
	        </ul>
	    </div>
	</div>
	<div class="mobile_menu_overlay"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="js/readmore.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>