<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="col-lg-4 col-md-12">
							<div class="elem__news elems_journal">
								<img src="images/home_bg_new.jpg" alt="" class="img-fluid img-news">
								<a href="#" class="title-news">Название для новости</a>
								<p class="description-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quis maxime autem culpa, error veritatis enim magni accusantium corporis eum...</p>
							</div>
						</div>
						<div class="col-lg-8 col-md-12">
							<div class="elem__news elems_journal">
								<img src="images/home_bg_new.jpg" alt="" class="img-fluid">
								<a href="#" class="title-news">Название для новости</a>
								<p class="description-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quis maxime autem culpa, error veritatis enim magni accusantium corporis eum...</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="elem__news elems_journal">
								<img src="images/home_bg_new.jpg" alt="" class="img-fluid img-news">
								<a href="#" class="title-news">Название для новости</a>
								<p class="description-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quis maxime autem culpa, error veritatis enim magni accusantium corporis eum...</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="elem__news elems_journal">
								<img src="images/home_bg_new.jpg" alt="" class="img-fluid img-news">
								<a href="#" class="title-news">Название для новости</a>
								<p class="description-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quis maxime autem culpa, error veritatis enim magni accusantium corporis eum...</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="elem__news elems_journal">
								<img src="images/home_bg_new.jpg" alt="" class="img-fluid img-news">
								<a href="#" class="title-news">Название для новости</a>
								<p class="description-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quis maxime autem culpa, error veritatis enim magni accusantium corporis eum...</p>
							</div>
						</div>
</body>
</html>